<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Videogame.css">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        <div>Please enter a Game Title, Main Character and Genre of Game</div>
        <input type="text" placeholder="Game Title">
        <input type="text" placeholder="Main Character">
        <input type="text" placeholder="Genre">
        <input type="submit" >
    </form>
</body>
</html>