<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/Videogame.css">
    <title>Info</title>
</head>
<body>
    <h2>This is the where the info should show</h2>

    <h2>Info</h2>
    <div th:text="${title}"/>
    <div th:text="${character}"/>
    <div th:text="${genre}"/>

    <tr th:each="game : ${videogame}">
        <td th:text="${game.genre}">1</td>
        
        <td><a href="#" th:text="${game.title}">Title ...</a></td>
        <td th:text="${game.character}">Text ...</td>
    </tr>
</body>
</html>