<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/Videogame.css">
    <title>Document</title>
</head>
<body>
    <form th:action="@{/videogame}" th:object="${videogame}" method="post">
        <div class="form-row">
            <div class="col-md-6 form-group">
                <label>Game Title</label>
                <input type="text" class="form-control" th:field="*{title}">
            <!-- </div> -->
            <!-- <div class="col-md-6 form-group"> -->
                <label>Game Character</label>
                <input type="text" class="form-control" th:field="*{character}">
            <!-- </div> -->
            <!-- <div class="col-md-6 form-group"> -->
                <label>Game Genre</label>
                <input type="text" class="form-control" th:field="*{genre}">
            </div>
            </div>
            <button class ="btn btn-primary" type = "submit">Save Info</button>
    </form>
</body>
</html>